<a href="https://colab.research.google.com/github/Tonmf/ProyectoIML/blob/master/Casos/Caso_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reporte de MLT de Barcelona Telco

## Caso 5: Fábrica Milwaukee (aka Bosch)

## Data

Source: https://www.kaggle.com/c/bosch-production-line-performance

In [ ]:
import os              # Package to use directory command to list files
import numpy as np     # linear algebra
import pandas as pd    # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns  # Used for plotting the graph
import matplotlib.pyplot as plt
import re

from scipy import stats # for Statistics
from statistics import mean
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from matplotlib import rcParams
%matplotlib inline

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [ ]:
data = pd.read_csv('/content/gdrive/My Drive/IML/Proyecto Final/train_numeric.csv',nrows=4000)

## Data Exploration

In [ ]:
print(data.shape)
data.head(5)

(4000, 970)

   Id  L0_S0_F0  L0_S0_F2  ...  L3_S51_F4260  L3_S51_F4262  Response
0   4     0.030    -0.034  ...           NaN           NaN         0
1   6       NaN       NaN  ...           NaN           NaN         0
2   7     0.088     0.086  ...           NaN           NaN         0
3   9    -0.036    -0.064  ...           NaN           NaN         0
4  11    -0.055    -0.086  ...           NaN           NaN         0

[5 rows x 970 columns]

In [ ]:
data.describe()

                Id     L0_S0_F0  ...  L3_S51_F4262    Response
count  4000.000000  2325.000000  ...    194.000000  4000.00000
mean   4018.952500    -0.001055  ...      0.000196     0.00575
std    2307.764835     0.078488  ...      0.001686     0.07562
min       4.000000    -0.291000  ...      0.000000     0.00000
25%    2058.000000    -0.055000  ...      0.000000     0.00000
50%    4056.000000     0.003000  ...      0.000000     0.00000
75%    6030.250000     0.056000  ...      0.000000     0.00000
max    8000.000000     0.278000  ...      0.017000     1.00000

[8 rows x 970 columns]

In [ ]:
data.columns

Index(['Id', 'L0_S0_F0', 'L0_S0_F2', 'L0_S0_F4', 'L0_S0_F6', 'L0_S0_F8',
       'L0_S0_F10', 'L0_S0_F12', 'L0_S0_F14', 'L0_S0_F16',
       ...
       'L3_S50_F4245', 'L3_S50_F4247', 'L3_S50_F4249', 'L3_S50_F4251',
       'L3_S50_F4253', 'L3_S51_F4256', 'L3_S51_F4258', 'L3_S51_F4260',
       'L3_S51_F4262', 'Response'],
      dtype='object', length=970)

In [ ]:
data.dtypes

Id                int64
L0_S0_F0        float64
L0_S0_F2        float64
L0_S0_F4        float64
L0_S0_F6        float64
                 ...
L3_S51_F4256    float64
L3_S51_F4258    float64
L3_S51_F4260    float64
L3_S51_F4262    float64
Response          int64
Length: 970, dtype: object

In [ ]:
totalt = data.isnull().sum().sort_values(ascending=False)
percent = (data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([totalt, percent], axis=1, keys=['Total', 'Percent'])
missing_data

              Total  Percent
L1_S25_F2181   3997  0.99925
L1_S25_F2184   3997  0.99925
L1_S25_F2187   3997  0.99925
L1_S25_F2190   3997  0.99925
L1_S25_F2193   3997  0.99925
...             ...      ...
L3_S37_F3946    204  0.05100
L3_S37_F3948    204  0.05100
L3_S37_F3950    204  0.05100
Response          0  0.00000
Id                0  0.00000

[970 rows x 2 columns]

In [ ]:
796/970 *100

82.06185567010309

In [ ]:
df_agrup = data.groupby(by=['Response'])
df_agrup.count()

            Id  L0_S0_F0  L0_S0_F2  ...  L3_S51_F4258  L3_S51_F4260  L3_S51_F4262
Response                            ...
0         3977      2316      2316  ...           193           193           193
1           23         9         9  ...             1             1             1

[2 rows x 969 columns]

De este recuento podemos sacar un par de cosas interesantes: 

1.   Sólo hay 23 casos en que tenemos una pieza mala
2.   De un vistazo rápido vemos que en cierta líneas hay más 1's que en otras.

In [ ]:
23/4000 *100

0.575

## Algoritmo de Machine Learning

## Resultados

 ## Discusión y Conclusiones

## Linias de desarrollo futuro

### Annexo 1

### Annexo 2